@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
  background-color: rgba(0, 0, 0, 0.9);
}
main {
  padding: 15px;
}
#background-video {
  filter: brightness(60%);
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.location-box .location {
  color: white;
  margin-top: 2em;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 3px rgba(50, 50, 70, 0.5);
}

.weather-box {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.weather-box .temp {
  display: flex;
  justify-content: center;
  margin-top: 2.6em;
  backdrop-filter: blur(5px);
  margin-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  color: white;
  font-size: 50px;
  font-weight: 900;
  text-shadow: 1px 2px rgba(50, 50, 70, 0.5);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.weather-box .temp-text {
  margin-top: 20px;
}
.weather-box .weather {
  color: white;
  font-size: 20px;
  font-weight: 340;
  margin-top: 0.5em;
  text-shadow: 1px 1.5px rgba(50, 50, 70, 0.5);
}

.error-message {
  text-align: center;
  border: rgba(241, 13, 13, 0.2) solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  padding: 1em;
  font-size: small;
  color: white;
  margin-top: 1em;
  width: 50%;
  margin-left: 22vw;
}
